/** media query for smaller screen size, especially mobile phones **/
@media (min-width: 320px) and (max-width: 480px) {
  
  .ark{
    
  }
  .header {
    margin: 0rem;
    margin-right: 0.2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    width: 340px;
    

  }

  .header_logo {
    font-weight: bolder;
    font-size: 0.7rem;
    margin-left: -1rem;
  }

  .head_button {
    padding: 0.6rem;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-right: 0rem;
  }

  .section-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .ark {
    position: absolute;
    top: 3rem;
    left: -9rem;
    width: 200px;
  }

  .first_text1 {
    font-size: 2.375rem;
    line-height: 2.75rem;
    margin-top: 6rem;
    letter-spacing: 0.01rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    width: 22.438rem;
  }

  .first_text2 {
    margin-top: 10rem;
    width: 20.875rem;
    margin: auto;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .first_button {
    margin-top: 2rem;
    margin: auto;
    margin-bottom: 2rem;
  }
  .second {
    margin-bottom: 5rem;
  }

  .second_img {
    margin: 0rem;
    z-index: 1;
    margin-top: 1rem;
    width: 21.438rem;
    height: 0px;
    margin: auto;
    margin-left: 0rem;
  }

  .third {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 0rem;
    margin-top: 38rem;
    margin-left: 1rem;
    margin-bottom: 10rem;
  }

  .achievement {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 1rem;
  }

  .third_text1 {
    margin-top: 2rem;
    color: var(--dark-blue);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .third_text2 {
    font-size: 1rem;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 22.438rem;
    margin: auto;
    border-radius: 1rem;
    margin-left: 1rem;
  }

  .testimonial_image {
    margin-top: -6rem;
    padding-left: 0rem;
    padding-right: 1rem;
    width: 15.75rem;
    height: 25.125rem;
    margin-bottom: 6rem;
  }

  .testimonial_title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .testimonial_message {
    font-size: 1.125rem;
  }

  .ark2 {
    margin-left: 7rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60%;
    margin-left: 5rem;
  }

  .footer h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }

  .footer p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}

/** media query for tablets**/

@media (min-width: 768px) and (max-width: 1024px)  {
  .header {
    width: 769px; 
    margin-left:-2rem; 
  }
  main{
    overflow:hidden;
  }

  .first_text1 {
    width: 40.438rem;
    font-size:3.5rem;
    margin-left:-0.8rem;
  }

  .first_text2 {
    margin-top: 4rem;
    font-size:1.2rem;
    line-height:2rem;
    margin-left:-1.5rem;
    word-wrap: break-word;
  }

   

  .section-about {
    margin-bottom: 30rem;
    margin-left: 0rem;
  }
  .ark {
    margin-top: 5rem;
    margin-left: 10.5rem;
    margin-bottom: -7rem;
    color: var(--dark-blue);
  }
  .second_img {
    margin-left: -41.9rem;
    
  }
  

  .third {
    position: absolute;
    flex-direction: row;
    top: 48rem;
    left: 10rem;
  }
  .achievement {
    margin-left: 8rem;
  }
  .testimonial {
    width: 749px;
    margin-left:0.4rem;
    flex-direction:column;
    
  }

  .testimonial_title {
    font-size: 2rem;
  }
  .testimonial_text{
    text-align:center;
   
  }

  .person{
    text-align:center;
  }
  .testimonial_img
  {
    margin-left:10rem;
    margin-top:-10rem;
  }

  .ark2{
    margin-top:2rem;
    margin-left:22rem;
    margin-bottom:4rem;
  }

  .person_name{
    margin-left:-10rem;
  }

  .footer {
    width:759px;
    margin-left: 0rem;
  }
}
*/
