/** media query for smaller screen size, especially mobile phones **/
@media (min-width: 320px) and (max-width: 480px) {
  body {
  }

  .header {
    margin: 0rem;
    margin-right: 0.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 443px;
  }

  .header_logo {
    font-weight: bolder;
    font-size: 0.7rem;
    margin-left: 0rem;
  }

  .head_button {
    padding: 0.6rem;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-right: 0rem;
  }

  .section-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .ark {
    position: absolute;
    top: 3rem;
    left: -6rem;
    width: 200px;
  }

  .first_text1 {
    font-size: 2.375rem;
    line-height: 2.75rem;
    margin-top: 6rem;
    letter-spacing: 0.01rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    width: 26.438rem;
  }

  .first_text2 {
    margin-top: 10rem;
    width: 20.875rem;
    margin: auto;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .first_button {
    margin-top: 2rem;
    margin: auto;
    margin-bottom: 2rem;
  }
  .second {
    margin-bottom: 5rem;
  }

  .second_img {
    margin: 0rem;
    z-index: 1;
    margin-top: 1rem;
    width: 21.438rem;
    height: 0px;
    margin: auto;
    margin-left: 2rem;
  }

  .third {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 0rem;
    margin-top: 38rem;
    margin-left: 8rem;
    margin-bottom: 7rem;
  }

  .achievement {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 1rem;
  }

  .third_text1 {
    margin-top: 2rem;
    color: var(--dark-blue);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .third_text2 {
    font-size: 1rem;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 25.438rem;
    margin: auto;
    border-radius: 1rem;
    margin-left: 1.5rem;
  }

  .testimonial_image {
    margin-top: -6rem;
    padding-left: 2rem;
    padding-right: 1rem;
    width: 15.75rem;
    height: 25.125rem;
    margin-bottom: 6rem;
  }

  .testimonial_title {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .testimonial_message {
    font-size: 1.125rem;
  }

  .ark2 {
    margin-left: 7rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60%;
    margin-left: 9rem;
  }

  .footer h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }

  .footer p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}

/** media query for tablets**/

/**
@media only screen and (max-width:1023px) {

    .testimonial{
        display: flex;
        flex-direction: column;
    }

    .testimonial_img{
        margin-bottom: 5rem;
    }


}

@media only screen and (min-width:321px) and (max-width:768px)
{
    .header{
       
    }

    .header_logo{
       
    }
    
    .head_button{
       
    }

    .section-about{
       
    }

    .ark{
        
    }

    .first_text1{
       
    }
    

    .first_text2{
       
       }

       .first_button{
       
    }
    .second{
       
    }

    .second_img{
        
    }

    .third{
     margin-bottom: 23rem;    
        
    }

    .achievement{
        
    }

    .third_text1
{
    
}

.third_text2{
    
}

.testimonial{
    width: 52.063rem;
}

.testimonial_image{
    margin: auto;
    margin-top: -15rem;
}

.testimonial_text{
    margin-left: 18rem;
}


.testimonial_title{
 margin: auto;   
  }

  .testimonial_message{
    font-size: 1.125rem;
    width: 35.813rem;
  }

  .person{
    margin-left: 7rem;
  }

  .ark2{
   margin-top: -1rem;  
   margin-left: 22rem;
   margin-bottom: 3rem; 
  }

  .footer{
 width: 47.063rem;
}

.footer h1{
  
}

.footer p{
    

  }

}
*/

@media (min-width: 768px) and (max-width: 1024px)  {
  .header {
    width: 849px;
  }
  .section-about {
    margin-bottom: 30rem;
  }

  .third {
    position: absolute;
    flex-direction: row;
    top: 48rem;
    left: 10rem;
  }
  .achievement {
    margin-left: 12rem;
  }
  .testimonial {
    width: 849px;
    flex-direction:column;
  }

  .testimonial_title {
    font-size: 2rem;
  }
  .testimonial_text{
    text-align:center;
   
  }

  .person{
    text-align:center;
  }
  .testimonial_img
  {
    margin-left:10rem;
    margin-top:-10rem;
  }

  .ark2{
    margin-top:2rem;
    margin-left:22rem;
    margin-bottom:4rem;
  }

  .person_name{
    margin-left:-10rem;
  }

  .footer {
    width: 889px;
    margin-left: -3rem;
  }
}
*/
