/** media query for smaller screen size, especially mobile phones **/
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 48px;
    width: 343px;
    margin:20px auto 50px auto;
  }
  .header_logo {
    height: 32px;
    width: 81px;
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.4444444477558136px;
    text-align: left;
  }

  .head_button {
    height: 48px;
    width: 182px;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.14000000059604645px;
    text-align: center;
  }

  .section-about {
    flex-direction: column;
    height: 325.3243713378906px;
    width: 343.5px;
    margin:auto;



  }
  .ark{
   display:none;
   
  }
  .ark-mobile{
    display:block;
    margin-top:0rem;
    margin-left:10.9rem;
    margin-bottom:-3rem;
  }

  .first_text1 {
    height: 89px;
    width: 343px;
    margin-auto;
    font-family: Epilogue;
    font-size: 38px;
    font-weight: 5  00;
    line-height: 44px;
    letter-spacing: -0.5277777910232544px;
    text-align: center;
   }

   .first_text2{
    height: 84px;
    width: 343px;
    text-align:left;
    margin-left:1rem;
   }

   .first_button{
   margin-left:1rem;
   }

   .second_img{
    display:none;
    
   }
   
   .second_img_mobile{
    display:block;
    text-align:center;
    height: 240px;
    width: 343px;
    margin-left:0.5rem;
    margin-top:3rem;
    margin-bottom:3rem;
   }

   .second_image_mobile{
    height: 240px;
    width: 343px;
   }
   .third{
    flex-direction:column;
    justify-content:space-around;
    height: 313px;
    width: 30px;
    margin-left: 8rem;
     margin-top:2rem;
   }


   .achievement{
    margin-bottom:2rem;
   }
 
   .testimonial{
    flex-direction:column;
    height: 748px;
    width: 375px;
    border-radius: 15px;
    margin-top:58rem;
   }
   .testimonial_image{
    margin-top:-6rem;
    margin-left:-3rem;
   }
   .testimonial_img{
    height: 402px;
    width: 252px;
   }

   .ark2{
    margin-top:3rem;
    margin:auto;
   }

   .testimonial_text{
    margin:0px auto 0px auto;
    text-align:center;
   }

   .testimonial_title{
    font-family: Epilogue;
   font-size: 40px;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: -0.4166666567325592px;
   text-align: center;
   }

   .testimonial_message{
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.09000000357627869px;
    text-align: center;
    padding:10px;
   }
    
   .person_name{
    font-family: Epilogue;
   font-size: 18px;
   font-weight: 700;
   line-height: 32px;
   letter-spacing: -0.18000000715255737px;
   text-align: center;

   }

   .person_location{
    font-family: Epilogue;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-align: center;
    padding-bottom:3rem;
 
   }
   .footer{
    flex-direction:column;
    height: 150px;
    width: 125px;
    align-items:center;
   }

   .footer_logo{
   font-family: Epilogue;
   font-size: 32px;
   font-weight: 700;
   line-height: 32px;
   letter-spacing: -0.4444444477558136px;
   text-align: center;
  }

  .footer >p{
    font-family: Epilogue;
    font-size: 15px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: 0.0833333358168602px;
   text-align: center;
  

  }
      
  }

/** media query for tablets**/

@media (min-width: 768px) and (max-width: 1024px) {

.header{
  height: 56px;
  width: 689px;
}
.section_about{
  position:relative;
  height: 482px;
  width: 689px;
}
.ark{
  margin-left:14rem;
}
.first_text1{
  font-family: Epilogue;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.7777777910232544px;
  text-align: left;
  margin-left:3rem;
}
.first_text2{
  margin-left:3rem;
}

.first_button{
  margin-left:3rem;
}

.second_image{
  margin-left:0rem
}
.third{
  position:absolute;
  flex-direction:row;
  height: 83px;
  width: 689px;
  left: 0px;
  top: 886px;
  margin-left:3.4rem;

}

.testimonial{
  flex-direction:column;
  height: 884px;
  width: 689px;
  margin-top:37rem;
}
.ark2{
  display:block;
  margin-left:17rem;
  margin-top:4rem;
  margin-bottom: -3rem;
}
.testimonial_img{
  margin:-16rem auto 0rem auto;
  margin-left:10rem;
}

.testimonial_text{
  text-align:center;
}
.testimonial_message{
  height: 96px;
  width: 573px;
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.09000000357627869px;
  text-align: center;
  margin-left:-8rem;
  
}

.person_name{
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18000000715255737px;
  margin-left:3rem;
  
}
.person_location{
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  margin-left:5.3rem;
  
}

.footer{
  height: 32px;
  width: 689px;
}

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
