
:root{
    
    --dark-blue:  #172339;
     --grey-dark: #49566D;
     --cream-white:#FAF8F6;
     --grey-light: #F2F2F2;
     --cream: #F3EDE7;
}



*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}
body{
    background-color: var(--grey-light);
}




/** styles for header **/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 3.588rem;
    align-items: center;
    width: 56.301rem;
}

.ark{
    margin-top: 2rem;
margin-left: 15.5rem;
margin-bottom: -9rem;
color: var(--dark-blue);
}

.header_logo{
    font-weight:bolder;
    color: var(--dark-blue);
}

.head_button{
   padding: 0.7rem;
   color: var(--dark-blue);
   border-radius: 0.5rem;
   line-height:2rem;
   font-size: 1rem;
   font-weight: 700;
   letter-spacing: -0.01rem;
 
}

.head_button:hover {
    background-color:var(--dark-blue);
    color: var(--cream-white);
    cursor: pointer;
    transition: all 0.4s;
  }
  
  .head_button:active {
    background-color:var(--dark-blue);
  }

/** styles for About section **/
.section-about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 69.376rem;
    margin: auto;
    margin-bottom: 13rem;
    margin-top: 3.15rem;
    
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 1;
}

.first_text1{
    font-size: 4.5rem;
    margin-top: 6rem;
    letter-spacing: 0.05rem;
    color: var( --dark-blue);
    font-weight: 400;
    line-height: 4.875rem;
    letter-spacing: -1px;
    margin-top: 7.5881rem;
}

.first_text2{
    margin-top: 4rem;
    width: 40%; 
    color: var( --grey-dark);
    line-height: 2rem;
}

.first_button{
    margin-top: 4rem;
    width:16rem;
    line-height: 2rem;
    background-color: var(--dark-blue);
    color: var(--cream-white);
    padding: 0.65rem;
    border: none;
    font-weight:700;
    font-size:1.125rem;
    border-radius: 0.4rem;
    -o-transition-delay: 2s;
}

.first_button:hover{
    background-image: linear-gradient(to right,violet, rgb(240, 75, 10));
    transition: all 0.4s;
    cursor: pointer;
}

.first_button:active{
    background-image: linear-gradient(to right,violet, rgb(240, 75, 10));
}

.second{
    margin-bottom: 0.5rem;   
}

.second_img{
    margin-left: -33.8rem;
    z-index: 1;
    margin-bottom: 2rem;
    width: 21.875rem;
}

.second_image{
    margin-top: 1.5rem;
  
}

.third{
display: flex;
flex-direction: column;
justify-content:flex-start  ;
margin-left: -11rem;
margin-bottom: 1rem;
margin-top: 2rem;
}

.achievement{
    display: flex;
    flex-direction: column;
}

.third_text1
{
    margin-top: 1rem;
    color: var(--dark-blue);
    font-size: 3rem;
    line-height: 3.5;
    font-weight: 700;
    
}
.third_text2{
text-transform: uppercase;
font-size: 1rem;
color:var(--grey-dark);
margin-top: -3.5rem;
font-weight: 500;
}

/** styles for testimonial section **/
.testimonial{
    display: flex;
    background-color: var(--dark-blue);
    color: var(--cream);
    width: 65%;
    margin: auto;
    border-radius: 1rem;
}

.testimonial_image{
    margin-top: -5rem;
    padding-left: 4rem;
    z-index: 2;
}

.testimonial_text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 5rem;
}

.testimonial_title{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.testimonial_text p{
  width: 90%;  
  margin-bottom: 2rem;
}

.person_name{
    text-transform: uppercase;
}

/** styles for footer section **/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    background-color: var(--light-brown);
    padding-top: 3rem;
    padding-bottom: 3rem;   
    padding-left: 2rem;
    padding-right: 10rem;
  
}

.footer p{
    font-size: 0.8rem;
}



